h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    
}

#download {
    color: aquamarine;
    font-size: 16px;
    
}

header {
    text-align: center;
}

html {
    background-color: black;
    text-align: center;
}

h1#guide {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}

h2 {
    font-family: verdana;
    font-size: 21px;
    color: gray;
}

#trademark {
    text-align: right;
    color: gray;
}